.NavMenu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10rem;
}

.NavMenuLink {
  font-size: 2rem;
  margin: 1rem;
}

.NavMenuLink a {
  color: #191722;
  text-decoration: none;
}
