.Form {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  width: 50rem;
  margin: auto;
  padding: 3rem 7rem 1rem;
  border-radius: 1rem;
  border: 1px solid grey;
}

.Form h4 {
  color: grey;
}

.Section {
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
}

.Inputs {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.Inputs button {
  align-self: flex-start;
}

.Label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.Row {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.Input {
  border-radius: 4px;
  color: #32325d;
  background-color: #f6f9fc;
  border: 0;
  margin-top: 8px;
  padding: 5px 20px 8px 13px;
  transition: background-color 0.1s, color 0.1s;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.Input:focus {
  background-color: white;
  border: 1px solid #d8e9fa;
  color: #c6ced5;
}

.Buttons {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  margin: 1.6rem 0 0 0;
}

.Required {
  align-self: flex-end;
  display: flex;
  font-size: 1rem;
}

.Asterisk {
  background: #24b47e;
  border-radius: 50%;
  color: #24b47e;
  height: 0.8rem;
  width: 0.8rem;
  overflow: hidden;
  margin-left: -1.6rem;
  margin-right: 0.8rem;
}

.Prev {
  color: #aeaeae;
  transition: text-decoration 0.1s;
}

.Prev:hover,
.Prev:focus {
  text-decoration: underline;
}

.Next,
.Submit {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0.5rem 1.6rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
  outline: none;
  transition: border 0.1s, background-color 0.1s;
}

.Next {
  border: 1px solid #acacac;
  background-color: #acacac;
}

.Next:focus,
.Next:hover {
  background-color: white;
  color: #acacac;
  border: 1px solid #acacac;
}

.Submit {
  border: 1px solid #24b47e;
  background-color: #24b47e;
}

.Submit:focus,
.Submit:hover {
  background-color: white;
  color: #24b47e;
  border: 1px solid #24b47e;
}

.Message {
  color: red;
  margin: 0.5rem 0;
}

.Message:nth-last-of-type(2) {
  margin-bottom: 3rem;
}
