.AllProjects {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10rem;
}

.ProjectsDashboard {
  width: 960px;
  height: 1080px;
}

.DashboardContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  margin-top: 10rem;
}
